server/__pycache__/**
server/src/core/__pycache__/**
server/src/handlers/__pycache__/**
server/src/utilities/__pycache__/**


client/src/__pycache__/**
client/src/core/__pycache__/**
client/src/handlers/__pycache__/**
client/src/utilities/__pycache__/**

.venv/**
tls_mimic/**
TLS_Server_Client_Messaging.egg-info/**
server/src/handlers/__pycache__/request_handler.cpython-310.pyc
